// line 类型
.progress-bar {
  width: 100%;
  box-sizing: border-box;

  .progress-bar-outer {
    border-radius: $progress-border-radius;
    background-color: $progress-bg;
    overflow: hidden;
    position: relative;
  }

  .progress-bar-inner {
    position: absolute;
    left: 0;
    top: 0;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 100%;
    border-radius: $progress-border-radius;
    line-height: 1;
    transition: $progress-bar-transition;

    .inner-text {
      color: $progress-bar-color;
      font-size: $progress-font-size;
      margin: 0 5px;
    }
  }

  @each $key,
  $val in $theme-colors {
    .color-#{$key} {
      background-color: $val;
    }
  }
}

// circle 类型
.progress-circle-outer {
  width: 100%;
  height: 100%;
  position: relative;
  margin: 2rem;
  display: inline-block;

  @each $key,
  $val in $theme-colors {
    &.color-#{$key} {

      .circle-wrap,
      .circle,
      .percent {
        position: absolute;
        width: 100%;
        height: 100%;
        border-radius: 50%;
      }


      .circle-wrap {
        background-color: #ccc;
        display: flex;
        justify-content: center;
        align-items: center;
      }

      .circle {
        box-sizing: border-box;
        // 设置元素的形状。唯一合法的形状值是：rect (top, right, bottom, left)
        clip: rect(0, 100px, 100px, 50px);

        &.clip-auto {
          clip: rect(auto, auto, auto, auto); // auto	默认值。不应用任何剪裁。
        }
      }

      .left {
        box-sizing: border-box;
        border: 10px solid $val;
        clip: rect(0, 50px, 100px, 0);
      }

      .right {
        border: 10px solid $val;
        box-sizing: border-box;
        clip: rect(0, 100px, 100px, 50px);
      }

      .wth0 {
        width: 0;
      }

      .progress-circle-inner {
        box-sizing: border-box;
        width: 80%;
        height: 80%;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 1rem;
        border-radius: 50%;
        color: $val;
        background: white;
        z-index: 1;
      }
    }
  }
}